# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# see https://help.github.com/en/articles/about-code-owners
# leave this at the bottom!
# EVERYTHING ending with resjson* is for loc, and is owned by the workbooks team and the loc team
